.blur {
  width: 70%;
  margin: auto;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  display: block;
  width: 40px;
  height: 40px;
  background-color: #223143;
  position: absolute;
  right: 0;
  top: 0;
}
